<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" asp-controller="Home" asp-action="Index">
						<img src="/images/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Categories</a>
							</li>
							@*<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-controller="Category" asp-action="Index">
									Categoriler<span><i class="fa fa-angle-down"></i></span>
								</a>

								<!-- Dropdown list -->
								<div class="dropdown-menu">
									
									<a class="dropdown-item" href="dashboard.html">Laptop</a>
									<a class="dropdown-item" href="dashboard-my-ads.html">İphone</a>
									<a class="dropdown-item" href="dashboard-favourite-ads.html">Microsoft</a>
									<a class="dropdown-item" href="dashboard-archived-ads.html">Monitors</a>
								</div>
							</li>*@
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Pages <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" asp-controller="Advert" asp-action="Package">Package</a>
									<a class="dropdown-item" asp-controller="Advert" asp-action="Detail">Single Page</a>
									<a class="dropdown-item" asp-controller="Advert" asp-action="StoreSingle">Store Single</a>
									<a class="dropdown-item" asp-controller="Advert" asp-action="SinglePost">Single Post</a>
									<a class="dropdown-item" asp-controller="Advert" asp-action="Blog">Blog</a>

								</div>
							</li>
							@*<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Listing <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="category.html">Ad-Gird View</a>
									<a class="dropdown-item" href="ad-list-view.html">Ad-List View</a>
								</div>
							</li>*@

							@*<li class="nav-item active">
								<a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Tüm Categoriler</a>
							</li>*@

							<li class="nav-item active">
								<a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">About Us</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							<li class="nav-item">
								<a class="nav-link login-button" asp-controller="Auth" asp-action="Login">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link login-button" asp-controller="Auth" asp-action="Register">Register</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white add-button" asp-controller="Auth" asp-action="AddListing"><i class="fa fa-plus-circle"></i> Add Listing</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>