<section class="client-slider-03">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Client Slider -->
            <div class="col-md-12">
                <!-- Client Slider -->
                <div class="category-slider slick-initialized slick-slider">
                    <i class="fa fa-chevron-left arrow-left slick-arrow" style=""></i>
                    <!-- Client 01 -->
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 6438px; transform: translate3d(-1554px, 0px, 0px);">
                            <div class="item slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-play"></i>
                                    <h4>Play</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-building"></i>
                                    <h4>Real Estate</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-shopping-bag"></i>
                                    <h4>Shopping</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Electronics</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Health</h4>
                                </a>
                            </div><div class="item slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Bed</h4>
                                </a>
                            </div><div class="item slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Hotels</h4>
                                </a>
                            </div><div class="item slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 222px;">
                                <a href="#" tabindex="0">
                                    <!-- Slider Image -->
                                    <i class="fa fa-car"></i>
                                    <h4>Cars</h4>
                                </a>
                            </div><div class="item slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 222px;">
                                <a href="#" tabindex="0">
                                    <!-- Slider Image -->
                                    <i class="fa fa-cutlery"></i>
                                    <h4>Restaurants</h4>
                                </a>
                            </div><div class="item slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="0" style="width: 222px;">
                                <a href="#" tabindex="0">
                                    <!-- Slider Image -->
                                    <i class="fa fa-mobile"></i>
                                    <h4>Automobile</h4>
                                </a>
                            </div><div class="item slick-slide slick-active" data-slick-index="5" aria-hidden="false" tabindex="0" style="width: 222px;">
                                <a href="#" tabindex="0">
                                    <!-- Slider Image -->
                                    <i class="fa fa-film"></i>
                                    <h4>Gym</h4>
                                </a>
                            </div><div class="item slick-slide slick-active" data-slick-index="6" aria-hidden="false" tabindex="0" style="width: 222px;">
                                <a href="#" tabindex="0">
                                    <!-- Slider Image -->
                                    <i class="fa fa-paragraph"></i>
                                    <h4>Park</h4>
                                </a>
                            </div><div class="item slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-play"></i>
                                    <h4>Play</h4>
                                </a>
                            </div><div class="item slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-building"></i>
                                    <h4>Real Estate</h4>
                                </a>
                            </div><div class="item slick-slide" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-shopping-bag"></i>
                                    <h4>Shopping</h4>
                                </a>
                            </div><div class="item slick-slide" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Electronics</h4>
                                </a>
                            </div><div class="item slick-slide" data-slick-index="11" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Health</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Bed</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Hotels</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-car"></i>
                                    <h4>Cars</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-cutlery"></i>
                                    <h4>Restaurants</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-mobile"></i>
                                    <h4>Automobile</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-film"></i>
                                    <h4>Gym</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="18" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-paragraph"></i>
                                    <h4>Park</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="19" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-play"></i>
                                    <h4>Play</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="20" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-building"></i>
                                    <h4>Real Estate</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="21" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-shopping-bag"></i>
                                    <h4>Shopping</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="22" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Electronics</h4>
                                </a>
                            </div><div class="item slick-slide slick-cloned" data-slick-index="23" aria-hidden="true" tabindex="-1" style="width: 222px;">
                                <a href="#" tabindex="-1">
                                    <!-- Slider Image -->
                                    <i class="fa fa-bed"></i>
                                    <h4>Health</h4>
                                </a>
                            </div>
                        </div>
                    </div>





                    <!-- Client 01 -->







                    <i class="fa fa-chevron-right arrow-right slick-arrow" style=""></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>



<section class="stores section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>More Stores</h2>
                </div>
                <!-- First Letter -->
                <div class="block">
                    <!-- Store First Letter -->
                    <h5 class="store-letter">#</h5>
                    <hr>
                    <!-- Store Lists -->
                    <div class="row">
                        <!-- Store List 01 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 02 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 03 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 04 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Second Letter -->
                <div class="block">
                    <!-- Store First Letter -->
                    <h5 class="store-letter">A</h5>
                    <hr>
                    <!-- Store Lists -->
                    <div class="row">
                        <!-- Store List 01 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 02 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 03 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 04 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Third Letter -->
                <div class="block">
                    <!-- Store First Letter -->
                    <h5 class="store-letter">B</h5>
                    <hr>
                    <!-- Store Lists -->
                    <div class="row">
                        <!-- Store List 01 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 02 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 03 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 04 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Fourth Letter -->
                <div class="block">
                    <!-- Store First Letter -->
                    <h5 class="store-letter">C</h5>
                    <hr>
                    <!-- Store Lists -->
                    <div class="row">
                        <!-- Store List 01 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 02 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 03 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                        <!-- Store List 04 -->
                        <div class="col-md-3 col-sm-6">
                            <ul class="store-list">
                                <li><a href="#">1 - 800 - Got - Junk?</a></li>
                                <li><a href="#">1000 bulbs.com</a></li>
                                <li><a href="#">180 packrat.com</a></li>
                                <li><a href="#">3 day blinds</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>